.location-search-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px auto;
  width: 90%; 
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2); /* Efekt halo */
  width: 100%;
  }

  .first-row .column {
    width: 100%;
  }

.second-row {
  justify-content: space-between;
  align-items: center;
}

.second-row .half-column {
  flex: 2;
  align-items: center;
  justify-content: center;
}


